<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %} - Retwis</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='retwis-py.css') }}">
    </head>
    <body>
        <nav>
          <h1>Retwis</h1>
          <div id="header"><a href="/"><img src="{{ url_for('static', filename='retwis.png') }}"></a>
            {% if g.user %}
                <div id="nav"><a href="/">Home</a> <a href="{{ url_for('auth.logout') }}">Sign out</a></div>
            {% else %}
                <div id="nav">
                    <a href="/">Home</a> <a href="{{ url_for('auth.login') }}">Sign in</a>
                    <a href="{{ url_for('auth.register') }}">Sign up</a>
                </div>
            {% endif %}
          </div>
        </nav>
        <section class="content">
          <header>
            {% block header %}{% endblock %}
          </header>
          {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
          {% endfor %}
          {% block content %}{% endblock %}
        </section>
        <script src="{{ url_for('static', filename='app.js') }}" type="text/javascript" charset="utf-8"></script>
    </body>
</html>
